<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Ted Camera List</title>

    <!-- Bootstrap core CSS -->
    <link href="../../static/cam/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../../static/cam/css/dashboard.css" rel="stylesheet">

  </head>

  <body>

   {% include 'cam/navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="">Review</a></li>

          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Camera List</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-md-4 placeholder">
              <img src="../../static/cam/images/canon.jpg" width="200" class="img-responsive" alt="Canon">
                <table class="table table-striped">
                        <thead>
                        <tr>
                          <th>Picture</th>
                          <th>Model</th>
                          <th>Comment</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                          <td>1,001</td>
                          <td>Lorem</td>
                          <td>ipsum</td>
                        </tr>
                        </tbody>
                    </table>

            </div>
            <div class="col-xs-6 col-md-4 placeholder">
              <img src="../../static/cam/images/nikon.jpg" width="200" class="img-responsive" alt="Nikon">

                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Picture</th>
                      <th>Model</th>
                      <th>Comment</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                      <td>1,001</td>
                      <td>Lorem</td>
                      <td>ipsum</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-xs-6 col-md-4 placeholder">
              <img src="../../static/cam/images/sony.jpg" width="200" class="img-responsive" alt="Sony">

                <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Picture</th>
                      <th>Model</th>
                      <th>Comment</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                      <td>1,001</td>
                      <td>Lorem</td>
                      <td>ipsum</td>
                    </tr>
                    </tbody>
                </table>
            </div>

          </div>

            <hr>
           <!-- FOOTER -->
            {% include "cam/footer.html" %}
        </div>
      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../static/cam/js/jquery.min.js"></script>
    <script src="../../static/cam/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../static/cam/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
